<!DOCTYPE html>
<html>
	<head>
		<!-- META TAGS -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
		<!-- CSS (BluePrint) -->		
		<link rel="stylesheet" href="{{ MEDIA_URL }}/css/blueprint/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="{{ MEDIA_URL }}/css/blueprint/print.css" type="text/css" media="print">
		<!--[if lt IE 8]><link rel="stylesheet" href="{{ MEDIA_URL }}/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/newbase.css" />
		
		<!-- JS (jQuery) -->
		<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery-1.4.4.min.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}/js/base.js"></script>
		
		<title>web2.0 - {% block title %}Untitled{% endblock %}</title>
	</head>
	<body>
	
		<!-- LOGO 
		<div id="logo">
			<div class="container">
				<div class="span-24 last">
					<h1>
						<a href="/"><img src="{{ MEDIA_URL }}/images/flickr.png" /></a>
						<a href="/">Website Title</a>
					</h1>
				</div>
			</div>
		</div>-->
	
		<!-- NAVIGATION LINKS -->
		<div id="navi">
			<div class="container">
				<div id="navi-left" class="span-18">
					<a href="/" id="logo"><img /> WebsiteLogo</a>
					<a href="/">Home</a>
					<a href="/features">Features</a>
					<a href="/learn">Learn</a>
					<a href="/signup">Plans &amp; Pricing</a>
					<a href="/faqs">FAQs</a>
					<a href="/support">Support</a>
				</div>
				<div id="navi-right" class="span-6 last">
					<a href="/signup">Sign Up</a>
					<a href="/login">Login</a>
				</div>
			</div>
		</div>
	
		<!-- CONTENTS -->
		<div id="contents" class="container">
			{% block contents %}{% endblock %}
		</div>
		
		<!-- FOOTER -->
		<div id="footer">
			<div class="container">
				<div class="span-4">
					<h6>Support</h6>
					<ul>
						<li><a href="#">Frequently Asked Questions</a></li>
						<li><a href="#">Customer Service</a></li>
						<li><a href="#">Community Forums</a></li>
					</ul>
				</div>
				
				<div class="span-4">
					<h6>Company</h6>
					<ul>
						<li><a href="#">Blog</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Office Hours</a></li>
						<li><a href="#">Newsroom</a></li>
						<li><a href="#">Careers</a></li>
					</ul>
				</div>
				
				<div class="span-4">
					<h6>Legal</h6>
					<ul>
						<li><a href="#">Terms &amp; Conditions</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Security</a></li>
					</ul>
				</div>
				
				<div id="social-links" class="span-4 prepend-8 last">
					<a href="#"><img src="{{ MEDIA_URL }}/images/social_facebook.png" /></a>
					<a href="#"><img src="{{ MEDIA_URL }}/images/social_flickr.png" /></a>
					<a href="#"><img src="{{ MEDIA_URL }}/images/social_technorati.png" /></a>
					<a href="#"><img src="{{ MEDIA_URL }}/images/social_twitter_bird.png" /></a>
				</div>
			</div>
		</div>
	</body>
</html>