{% extends 'base.html' %}

{% block title %}
	Features
{% endblock %}

{% block contents %}
	
	<div id="features" class="span-24 last">
		<h2>Features</h2>
		
		<!-- LIST STYLE -->
		<div id="list-style-features" class="span-24 last">
		
			<div>
				<div class="span-9">
					<img src="{{ MEDIA_URL }}/images/top-feature-pic-350.png" />
				</div>
				
				<div class="span-15 last">
					<h4>All-Flash Storage. Instant-on gratification.</h4>
					
					<p>
						If you have an iPod, iPhone, or iPad, you're already taking advantage of all that flash storage has to offer: 
						reliability, speed, and efficiency. So the decision to use flash storage in an ultracompact notebook like MacBook 
						Air makes perfect sense.
					</p>
				</div>					
			</div>
			
			<div>				
				<div class="span-15">
					<h4>Multi-Touch Trackpad. It's love at first click, tap, and scroll.</h4>
					
					<p>
						The new MacBook Air includes a spacious Multi-Touch trackpad with a buttonless and great design, so you can click 
						anywhere. The Multi-Touch trackpad also lets you pinch, swipe, or rotate to adjust an image, zoom in on text, 
						or advance through a photo album.
					</p>
				</div>
				
				<div class="span-9 last">
					<img src="{{ MEDIA_URL }}/images/top-feature-pic-350.png" />
				</div>
			</div>
			
			<div>
				<div class="span-9">
					<img src="{{ MEDIA_URL }}/images/top-feature-pic-350.png" />
				</div>
				<div class="span-15 last">
					<h4>Long-Lasting Battery. Instant on. Even after a month off.</h4>
					
					<p>
						Since space-saving flash storage leaves room for a bigger battery, you can devote more time to the things 
						you enjoy most. Things like browsing the web, editing photos, and watching videos. Get up to 5 hours of battery 
						life on a single charge on the 11-inch model and up to 7 hours on the 13-inch model. Put MacBook Air to sleep, 
						and it enters standby mode to conserve battery life for up to 30 days.1 When you come back to your MacBook Air 
						and open it up, it's on in an instant. So you're free to go off the grid knowing you're still on a charge.
					</p>
				</div>
			</div>
			
		</div>
		
		
		
		
		<!--
		
		
		<div>
			<div class="span-4">
				<img src="{{ MEDIA_URL }}/images/top-feature-pic.png" />
			</div>
			<div class="span-20 last">
				<h4>Stereo Speakers. Heard but not seen.</h4>
				
				<p>
					Despite its compact form, MacBook Air delivers full stereo sound. Space-efficient design inside the enclosure 
					allows for the placement of left and right speakers that project sound through the keyboard. So you're able to 
					enjoy a richer audio experience while chatting online, watching TV shows, listening to music, or playing games.
				</p>
			</div>
		</div>
		
		-->
		
		<!-- HORIZONTAL (4 columns) -->		
		<div id="horizontal-features" class="span-24 last">
			<hr />
		
			<div class="span-6">
				<img src="{{ MEDIA_URL }}/images/top-feature-pic-230.png" />
				<h4>Powerfully efficient.</h4>
				<p>
					The Mac Pro meets the stringent low power requirements set by the EPA, giving it ENERGY STAR qualification. 
					ENERGY STAR 5.0 sets significantly higher efficiency limits for power supplies and aggressive limits for the 
					computer's typical annual power consumption.
				</p>
			</div>
			
			<div class="span-6">
				<img src="{{ MEDIA_URL }}/images/top-feature-pic-230.png" />
				<h4>Power when (and where) you need it.</h4>
				<p>
					The Mac Pro features Turbo Boost, a dynamic performance technology that automatically boosts the processor clock speed 
					based on workload. If you're using an application that doesn't need every core, Turbo Boost increases the speed of the 
					active ones, up to 3.33GHz on a 12-core Mac Pro, and up to 3.6GHz on a 6-core system.
				</p>
			</div>
			
			<div class="span-6">
				<img src="{{ MEDIA_URL }}/images/top-feature-pic-230.png" />
				<h4>Choose your cores: 4, 6, 8, or 12.</h4>
				<p>
					The new Mac Pro offers two advanced processor options from Intel. The Quad-Core Intel Xeon "Nehalem" processor is 
					available in a single-processor, quad-core configuration at speeds up to 3.2GHz.
				</p>
			</div>
			
			<div class="span-6 last">
				<img src="{{ MEDIA_URL }}/images/top-feature-pic-230.png" />
				<h4>Powerfully efficient.</h4>
				<p>
					The Mac Pro meets the stringent low power requirements set by the EPA, giving it ENERGY STAR qualification. 
					ENERGY STAR 5.0 sets significantly higher efficiency limits for power supplies and aggressive limits for the 
					computer's typical annual power consumption.
				</p>
			</div>
		</div>
		
		<!-- HORIZONTAL (6 columns) -->		
		<div id="horizontal-features" class="span-24 last">
			<hr />
		
			<div class="span-4">
				<img src="{{ MEDIA_URL }}/images/top-feature-pic-150.png" />
				<h4>Powerfully efficient.</h4>
				<p>
					The Mac Pro meets the stringent low power requirements set by the EPA, giving it ENERGY STAR qualification. 
					ENERGY STAR 5.0 sets significantly higher efficiency limits for power supplies and aggressive limits for the 
					computer's typical annual power consumption.
				</p>
			</div>
			
			<div class="span-4">
				<img src="{{ MEDIA_URL }}/images/top-feature-pic-150.png" />
				<h4>Power when (and where) you need it.</h4>
				<p>
					The Mac Pro features Turbo Boost, a dynamic performance technology that automatically boosts the processor clock speed 
					based on workload. If you're using an application that doesn't need every core, Turbo Boost increases the speed of the 
					active ones, up to 3.33GHz on a 12-core Mac Pro, and up to 3.6GHz on a 6-core system.
				</p>
			</div>
			
			<div class="span-4">
				<img src="{{ MEDIA_URL }}/images/top-feature-pic-150.png" />
				<h4>Choose your cores: 4, 6, 8, or 12.</h4>
				<p>
					The new Mac Pro offers two advanced processor options from Intel. The Quad-Core Intel Xeon "Nehalem" processor is 
					available in a single-processor, quad-core configuration at speeds up to 3.2GHz.
				</p>
			</div>
			
			<div class="span-4">
				<img src="{{ MEDIA_URL }}/images/top-feature-pic-150.png" />
				<h4>Powerfully efficient.</h4>
				<p>
					The Mac Pro meets the stringent low power requirements set by the EPA, giving it ENERGY STAR qualification. 
					ENERGY STAR 5.0 sets significantly higher efficiency limits for power supplies and aggressive limits for the 
					computer's typical annual power consumption.
				</p>
			</div>
			
			<div class="span-4">
				<img src="{{ MEDIA_URL }}/images/top-feature-pic-150.png" />
				<h4>Power when (and where) you need it.</h4>
				<p>
					The Mac Pro features Turbo Boost, a dynamic performance technology that automatically boosts the processor clock speed 
					based on workload. If you're using an application that doesn't need every core, Turbo Boost increases the speed of the 
					active ones, up to 3.33GHz on a 12-core Mac Pro, and up to 3.6GHz on a 6-core system.
				</p>
			</div>
			
			<div class="span-4 last">
				<img src="{{ MEDIA_URL }}/images/top-feature-pic-150.png" />
				<h4>Choose your cores: 4, 6, 8, or 12.</h4>
				<p>
					The new Mac Pro offers two advanced processor options from Intel. The Quad-Core Intel Xeon "Nehalem" processor is 
					available in a single-processor, quad-core configuration at speeds up to 3.2GHz.
				</p>
			</div>
		</div>
			
	
	</div>
	
	<p class="last-link span-24 last"><a href="/signup">View our Plans and Pricing &rsaquo;&rsaquo;</a></p>
	
{% endblock %}