{% extends 'base.html' %}

{% block title %}
	Learn
{% endblock %}

{% block contents %}
	<div id="learn" class="span-24 last">
		<h2>Learn</h2>
		
		<div id="links" class="span-6">
			<ul>
				<li><a href="#about_cappuccino">About Cappuccino</a></li>
				<li><a href="#demos">Demos</a></li>
				<li><a href="#tutorials">Tutorials</a></li>
				<li><a href="#documentation">Documentation</a></li>
			</ul>
		</div>
		
		<div id="learn-contents" class="span-16 prepend-1 last">
			<h3><a name="about_cappuccino">About Cappuccino</a></h3>
				<h4>Learn More About Cappuccino & Objective-J</h4>
				<p>Cappuccino is an open source application framework for developing applications that look and feel like the desktop software users are familiar with.</p>
				<p>Cappuccino is built on top of standard web technologies like JavaScript, and it implements most of the familiar APIs from GNUstep and Apple's Cocoa frameworks. When you program in Cappuccino, you don't need to concern yourself with the complexities of traditional web technologies like HTML, CSS, or even the DOM. The unpleasantries of building complex cross browser applications are abstracted away for you.</p>
				<p>Cappuccino was implemented using a new programming language called Objective-J, which is modelled after Objective-C and built entirely on top of JavaScript. Programs written in Objective-J are interpreted in the client, so no compilation or plugins are required. Objective-J is released alongside Cappuccino in this project and under the LGPL.</p>
				
				<h4>Designed for Applications</h4>
				<p>Nobody will deny that there is a distinct difference between a web site and a desktop application. Similarly, we believe there is a big difference between a static web page and a full fledged web application. Cappuccino is designed for applications, not web pages.</p>
				<p>Instead of doing all or most of the work on the server, Cappuccino applications do as much as possible in the client. A typical application would never reload, but rather send and recieve data using traditional AJAX techniques and then present that data in the client code. 280 Slides is the first Cappuccino application, and it's a showcase of what is possible with this new framework.</p>
				<p>Instead of worrying about how to implement drag and drop, copy and paste (of text and objects), undo and redo, document saving, rich cross-browser drawing and graphics, and a slew of other features, developers are free to focus on specific problems like PowerPoint support, or Twitter integration, or whatever else makes their application unique and compelling.</p>
				
				<h4>How does Cappucino Compare to Other Frameworks?</h4>
				<p>Cappuccino is not designed for building web sites, or making existing sites more "dynamic". We think these goals are too far removed from those of application development to be served well by a single framework. Projects like Prototype and jQuery are excellent at those tasks, but they are forced by their nature to make compromises which render them ineffective at application development.</p>
				<p>On the other end of the existing frameworks are technologies like SproutCore. While SproutCore set out with similar goals to Cappuccino, it takes a distincly different approach. It still relies on HTML, CSS, JavaScript, Prototype, and an entirely new and unique set of APIs. It also requires special development software and a cumbersome compilation step. We think this is the wrong approach.</p>
				<p>With Cappuccino, you don't need to know HTML. You'll never write a line of CSS. You don't ever have interact with DOM. We only ask developers to learn one technology, Objective-J, and one set of APIs. Plus, these technologies are implementations of well known and well understood existing ones. Developers can leverage decades of collective experience to really accelerate the pace of building rich web applications.</p>
				<p>If you want to build a rich web application, you need to learn something new. Many people think this will be JavaScript 2, or HTML 5, or some new standard. The problem is, as we've come to realize, standards bodies work too slowly. Cappuccino works right now, not in the theoretical future. Objective-J is essentially JavaScript 2, but available today in every major browser. Because we rely on only the most essential web technologies, improvements are not limited by the pace of browser vendors and standards bodies.</p>
				
				<p class="last-link"><a href="#">Back to top</a></p>
				
			<h3><a name="demos">Demos</a></h3>				
				<h4>How does Cappucino Compare to Other Frameworks?</h4>
				<p>Cappuccino is not designed for building web sites, or making existing sites more "dynamic". We think these goals are too far removed from those of application development to be served well by a single framework. Projects like Prototype and jQuery are excellent at those tasks, but they are forced by their nature to make compromises which render them ineffective at application development.</p>
				<p>On the other end of the existing frameworks are technologies like SproutCore. While SproutCore set out with similar goals to Cappuccino, it takes a distincly different approach. It still relies on HTML, CSS, JavaScript, Prototype, and an entirely new and unique set of APIs. It also requires special development software and a cumbersome compilation step. We think this is the wrong approach.</p>
				<p>With Cappuccino, you don't need to know HTML. You'll never write a line of CSS. You don't ever have interact with DOM. We only ask developers to learn one technology, Objective-J, and one set of APIs. Plus, these technologies are implementations of well known and well understood existing ones. Developers can leverage decades of collective experience to really accelerate the pace of building rich web applications.</p>
				<p>If you want to build a rich web application, you need to learn something new. Many people think this will be JavaScript 2, or HTML 5, or some new standard. The problem is, as we've come to realize, standards bodies work too slowly. Cappuccino works right now, not in the theoretical future. Objective-J is essentially JavaScript 2, but available today in every major browser. Because we rely on only the most essential web technologies, improvements are not limited by the pace of browser vendors and standards bodies.</p>
				
				<p class="last-link"><a href="#">Back to top</a></p>
			
			<h3><a name="tutorials">Tutorials</a></h3>				
				<h4>Designed for Applications</h4>
				<p>Nobody will deny that there is a distinct difference between a web site and a desktop application. Similarly, we believe there is a big difference between a static web page and a full fledged web application. Cappuccino is designed for applications, not web pages.</p>
				<p>Instead of doing all or most of the work on the server, Cappuccino applications do as much as possible in the client. A typical application would never reload, but rather send and recieve data using traditional AJAX techniques and then present that data in the client code. 280 Slides is the first Cappuccino application, and it's a showcase of what is possible with this new framework.</p>
				<p>Instead of worrying about how to implement drag and drop, copy and paste (of text and objects), undo and redo, document saving, rich cross-browser drawing and graphics, and a slew of other features, developers are free to focus on specific problems like PowerPoint support, or Twitter integration, or whatever else makes their application unique and compelling.</p>
				
				<h4>How does Cappucino Compare to Other Frameworks?</h4>
				<p>Cappuccino is not designed for building web sites, or making existing sites more "dynamic". We think these goals are too far removed from those of application development to be served well by a single framework. Projects like Prototype and jQuery are excellent at those tasks, but they are forced by their nature to make compromises which render them ineffective at application development.</p>
				<p>On the other end of the existing frameworks are technologies like SproutCore. While SproutCore set out with similar goals to Cappuccino, it takes a distincly different approach. It still relies on HTML, CSS, JavaScript, Prototype, and an entirely new and unique set of APIs. It also requires special development software and a cumbersome compilation step. We think this is the wrong approach.</p>
				<p>With Cappuccino, you don't need to know HTML. You'll never write a line of CSS. You don't ever have interact with DOM. We only ask developers to learn one technology, Objective-J, and one set of APIs. Plus, these technologies are implementations of well known and well understood existing ones. Developers can leverage decades of collective experience to really accelerate the pace of building rich web applications.</p>
				<p>If you want to build a rich web application, you need to learn something new. Many people think this will be JavaScript 2, or HTML 5, or some new standard. The problem is, as we've come to realize, standards bodies work too slowly. Cappuccino works right now, not in the theoretical future. Objective-J is essentially JavaScript 2, but available today in every major browser. Because we rely on only the most essential web technologies, improvements are not limited by the pace of browser vendors and standards bodies.</p>
			
				<p class="last-link"><a href="#">Back to top</a></p>
			
			<h3><a name="documentation">Documentation</a></h3>
				<h4>Learn More About Cappuccino & Objective-J</h4>
				<p>Cappuccino is an open source application framework for developing applications that look and feel like the desktop software users are familiar with.</p>
				<p>Cappuccino is built on top of standard web technologies like JavaScript, and it implements most of the familiar APIs from GNUstep and Apple's Cocoa frameworks. When you program in Cappuccino, you don't need to concern yourself with the complexities of traditional web technologies like HTML, CSS, or even the DOM. The unpleasantries of building complex cross browser applications are abstracted away for you.</p>
				<p>Cappuccino was implemented using a new programming language called Objective-J, which is modelled after Objective-C and built entirely on top of JavaScript. Programs written in Objective-J are interpreted in the client, so no compilation or plugins are required. Objective-J is released alongside Cappuccino in this project and under the LGPL.</p>
				
				<p class="last-link"><a href="#">Back to top</a></p>
				
		</div>
	</div>
{% endblock %}