/* SEARCH BAR + AD AREA */
div#search-ad { 
    height: 310px; 
    margin-bottom: 10px; }
div#search-ad div {
	height: 40px;
	margin-bottom: 10px;
	background-color: #fff; }	
div#search-ad img {
	border: 1px solid #ddd;
	padding: 4px; }
input#search-box {
	padding: 0px 5px;
	width: 230px;
	height: 30px; 
	float: left; 
	margin: 0px;}
input#search-button {
	background-color: #333;
	color: #fff;
	border: 0px solid #000;
	height: 32px; 
	width: 65px; 
	float: right;}
input#search-button:hover {
	background-color: #900;
	cursor: pointer; }
    
/* SPONSORS */
div.sponsors img {
	border: 0px solid #ddd;
	padding: 14px; }