<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>{% block title %}Blooks{% endblock %}</title>
		{% block meta %}
        <meta http-equiv="content-type" content="{% block meta.content-type %}text/html;charset=UTF-8{% endblock meta.content-type %}" />
        <meta name="description" content="{% block meta.description %}{% endblock meta.description %}" />
        <meta name="keywords" content="{% block meta.keywords %}{% endblock meta.keywords %}" />
        {% block meta.extra %}{% endblock meta.extra %}
        {% endblock meta %}
        
        {% block css %}
        <!--BLUEPRINT FRAMEWORK-->
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/print.css" type="text/css" media="print">
		<!--[if lt IE 8]><link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
		
		<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/core.css" />
        
        <!-- LOAD PAGE-SPECIFIC CSS -->
        {% block css.extra %}{% endblock css.extra %}
        {% endblock css %}
		
		{% block js %}
        <!-- JQUERY FRAMEWORK -->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
                {% block js.onready %}{% endblock js.onready %}
				/*
                var x = '<span id="next-next"> &rsaquo;&rsaquo;</span>';
                $('p.column-title a').hover(function(){
                    $(this).append(x);
                }, function(){
                    $(this).find('span#next-next').detach();
                });*/
			});
		</script>
		{% block js.extra %}{% endblock js.extra %}
		{% endblock js %}
		
		{% block head.extra %}
		{% endblock head.extra %}
	</head>	

    {% block body %}
	<body>  
        
	    {% block header %}
        <!-- HEADER -->
        <div id="header">
			<div class="container">
				<div class="span-12">
					<span id="current-date">Tuesday November 16 2010</span>
				</div>
				
				<div id="upper-right-links" class="span-12 last">	
					<span>
                        <!--(<a href="/website/core_only/">Core</a>, <a href="/website/core_right/">Core+Right</a>)-->
                        <a href="/website/">Home</a> <span class="middot">&middot;</span> 
                        <a href="/website/signup">Sign Up</a> or <a href="/website/login">Login</a>
                    </span>
				</div>
			</div>
		</div>
        
        <!-- LOGO & OPTIONAL AD -->
        <div id="logo-ad" class="container">
            <div class="span-8"><img id="logo" src="{{ MEDIA_URL }}images/logo.png"></div>				
            <div class="span-16 last"><img src="{{ MEDIA_URL }}images/ad_630x100.png"></div>
        </div>
        
		<!-- MAIN NAVI - CATEGORIES -->
		<div id="nav-container" class="container">
        		<div id="main-navi" class="span-24 last">
        			<ul>
        				<li class="current"><a href="">Culture</a></li>
        				<li><a href="">Finance</a></li>
        				<li><a href="">Lifestyle</a></li>
        				<li><a href="">News</a></li>
        				<li><a href="">Sports</a></li>
        				<li><a href="">Travel</a></li>
        				<li><a href="">Health</a></li>
        			</ul>
        		</div> 
        </div>
        
        {% comment %}
        <!-- BLACK BAR -->
        <div id="black-bar" class="container"></div>
        {% endcomment }
        {% endblock header %}
        
        <!-- CONTENTS -->
        <div id="contents" class="container">
            {% block canvas %}
                <div class="span-24 last" style="min-height: 400px;">
                    {% block content %}<p>ERROR: No contents found for specified URL.</p>{% endblock content %}
                </div>
            {% endblock canvas %}            
        </div>
	    
        {% block footer %}
        <!-- FOOTER -->
		<div id="footer">
			<div class="container">
            
                <!-- FOOTER BLURB -->
				<div class="span-4">
					<p class="column-title">Lorem Ipsum</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget elit non nisl congue accumsan a nec sem. Praesent eros in hendrerit id, vulputate non urna.</p>
					<p>Nullam vitae placerat mi. Vivamus nisl nisl, varius in gravida in, pretium eget purus.</p>
				</div>				
				
                <!-- TWEETS -->
				<div class="span-4">
					<p class="column-title">Tweets</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><hr />
					<p>Donec eget elit non nisl congue accumsan a nec sem.</p><hr />
					<p>Vivamus nisl nisl, varius in gravida in, pretium eget purus.</p><hr />
                    <p><a href="#">Follow on Twitter &rsaquo;&rsaquo;</a></p>
				</div>
				
                <!-- SITEMAP -->
				<div id="sitemap" class="span-4 last">
					<p class="column-title">Sitemap</p>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Category</a>
							<ul>
								<li><a href="#">Culture</a></li>
                                <li><a href="#">Finance</a></li>
                                <li><a href="#">Lifestyle</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Sports</a></li>
                                <li><a href="#">Travel</a></li>
                                <li><a href="#">Health</a></li>
							</ul>
						</li>
						<li><a href="#">Sign Up / Login</a></li>
						<li><a href="#">Archive</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Terms of Use</a></li>
						<li><a href="#">FAQs</a></li>
					</ul>
				</div>
                
			</div>
		</div>
        <!-- COPYRIGHT BAR -->
		<div id="copyright">
			<div class="container">
				<div class="span-12">
					<span>Copyright 2010 by Blooks, LLC.</span>
				</div>
				
				<div class="span-12 last" style="text-align:right;">
					<span>
                        <a href="#">Privacy Policy</a> <span class="middot">&middot;</span> 
                        <a href="#">Terms of Use</a> <span class="middot">&middot;</span> 
                        <a href="#">FAQs</a>
                    </span>
				</div>
			</div>
		</div>
		{% endblock footer %}
	</body>
	{% endblock body %}		
</html>
