{% extends 'base.html' %}

{% block title %}{{block.super}} - Support{% endblock %}

{% block css.extra %}{{block.super}}{% endblock css.extra %}
{% block js.extra %}{{block.super}}{% endblock js.extra %}


{% block content %}
	<div id="support" class="span-24 last">
		<h2>Support</h2>
		
		<div class="span-12">
			<h3>Frequently Asked Questions</h3>
			<p>The <a href="/faqs">FAQs</a> offers answers to some of the most common questions we have received in the past. If you are new and have questions, <a href="/faqs">this</a> is a good place to start.</p>
			
			<h3>Official Documentation</h3>
			<p>The <a href="#">official documentation</a> is a growing repository of many valuable tutorials and guides on how to perform specific tasks within our system. Whether you are looking for how to access your our repositories or programmatically access the API, this is the place to start.</p>
			
		</div>
		
		<div class="span-12 last">
			<h3>Community Forums</h3>
			<p>Haven't found what you're looking for? Ask the members of the growing <a href="#">forum community</a>. You can also chime in on features or issues that you feel are the most important to you and your team.</p>
			
			<h3>Support E-mail</h3>
			<p>As always, the team stands ready to answer any questions you might have directly. Simply send an email to <a href="#">support@website.com</a> and we will do our best to assist you in any way possible.</p>
			
		</div>
	</div>
{% endblock %}